/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root{
 /*=============== VARIABLES CSS ===============*/
 /*============= colors ==============*/
 --white: hsl(0, 0%, 100%);
 --primary-color: hsl(196, 100%, 47%);
 --dark-dark: hsl(0, 0%, 0%);
 --dark-light: hsl(240, 11%, 30%);
 --medium-dark: hsl(226, 9%, 62%);
 --medium-light: hsl(0, 0%, 85%);
 --bg-light: hsl(218, 30%, 96%);
 
 /*========== Font and typography ==========*/
 --body-font: 'Roboto', sans-serif;
 --h1-font-size: 4.5rem;
 --h2-font-size: 2rem;
 --h3-font-size: 2.4rem;
 --h4-font-size: 1.6rem;
 --p-font-size: 1.4rem;
 
 font-size: 62.5%; /* 1rem = 10px */
}

/*organização do css = position, display, box, background, text*/
/*=============== GERAL ======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-size: var(--p-font-size);    
}

body :is(h1,h3){
    color: var(--white); 
    text-align: center;
    text-shadow: 0 0 5px var(--dark-light);
}

h1{
    width: 70%;
    padding-bottom: 3.6rem;
    font-size: var(--h1-font-size);    
    font-weight: 600;
    line-height: 5.3rem;
    
}
h2{
    font-size: var(--h2-font-size);
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
}
h3{
    width: 80%;
    padding-bottom: 6.3rem;
    
    font-size: var(--h3-font-size);
    font-weight: 500;    
    line-height: 2.8rem;
}

p{
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: 186.5%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.wrapper{   
    padding-inline: 1.5rem;   
}

.grid{
    display: grid;
}

/*=============== HEADER ======================*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    background: var(--white);  
    box-shadow: 0 5px 3px hsla(240, 11%, 30%, 0.065);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 7.3rem;        
}

header .logo{
    width: 14.4rem;
}

header :is(nav, .btn-login){
    display: none;
}

header .header-right{
   display: flex;
   align-items: center;
}

.header-right .moon{   
    margin-right: 4.5rem;

    font-size: 2.2rem;  
    color: var(--medium-dark); 
    
    cursor: pointer;
}

.header-right .menu{
    font-size: 3.5rem;
    color: var(--dark-light);

    cursor: pointer;
}

/*=============== MAIN ======================*/
section.hero{
    width: 100%;
    height: 100vh;

    overflow: hidden;
}
section .hero-content{
    position: absolute;
    top: 17rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

section form{
    display: flex;
    justify-content: center;
    width: 100%;       
}
section input[type=text]{
   width: clamp(2.34rem, 70%, 50.5rem);
   height: 4rem;   
   border: none;
   border-radius: 5px 0px 0px 5px;
   background-image: url(../assets/icon/bx-search.svg);
   background-position: 10px 10px; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
}
section input[type=submit]{
    position: relative;
    left: -0.3rem;

    width: 9.7rem;
    height: 4rem; 
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--primary-color);

    color: var(--white);
    font-weight: 500;
    font-size: 1.4rem;

    cursor: pointer;
         
}








