/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root{
 /*=============== VARIABLES CSS ===============*/
 /*============= colors ==============*/
 --white: hsl(0, 0%, 100%);
 --primary-color: hsl(196, 100%, 47%);
 --dark-dark: hsl(0, 0%, 0%);
 --dark-light: hsl(240, 11%, 30%);
 --medium-dark: hsl(226, 9%, 62%);
 --medium-light: hsl(0, 0%, 85%);
 --bg-light: hsl(218, 30%, 96%);
 
 /*========== Font and typography ==========*/
 --body-font: 'Roboto', sans-serif;
 --h1-font-size: 4.5rem;
 --h2-font-size: 2rem;
 --h3-font-size: 2.4rem;
 --h4-font-size: 1.6rem;
 --p-font-size: 1.4rem;

 /*========== margin and padding ==========*/
 --margin-tittle: 3rem;
 --padding-wrapper: 1.5rem;

 /*========== font-weight ==========*/
 --light: 300;
 --medium: 400;
 --medium-regular:500;
 --regular: 600;
 --bold: 700;
 
 font-size: 62.5%; /* 1rem = 10px */
}

/*organização do css = position, display, box, text*/
/*=============== GERAL ======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    font-size: var(--p-font-size);    
}

h1{
    width: 70%;
    padding-bottom: 3.6rem;

    font-size: var(--h1-font-size);    
    font-weight: var(--regular);
    line-height: 5.3rem;
    
}
h2{
    font-size: var(--h2-font-size);
    font-weight: var(--medium);
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
}
h3{    
    font-size: var(--h3-font-size);
    font-weight: var(--medium-regular);    
    line-height: 2.8rem;
}

p{
    font-size: var(--p-font-size);
    font-weight: var(--light);
    line-height: 186.5%;
}

a{
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.wrapper{   
    padding-inline: var(--padding-wrapper);   
}

.grid{
    display: grid;
}

/*=============== HEADER ======================*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    background: var(--white);  
    box-shadow: 0 5px 3px hsla(240, 11%, 30%, 0.065);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 7.3rem;         
}

header :is( .logo-white, .logo-black, .logo-menu ){
    width: 14.4rem;
}

header .logo-white{
    display: block;
}
header .logo-black{
    display: none;
}
header .logo-menu{
    display: none;
}

header nav{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 7.2rem;
    left: 0;
    z-index: 150;  

    width: 100%;
    height: 100vh;   
    background-color: var(--dark-light);


    transform: translateY(100%);
    transition: transform .3s;
   
}
header .btn-login{
    display: none;
}

header .header-right{
   display: flex;
   align-items: center;
}

.header-right .moon{   
    margin-right: 4.5rem;

    font-size: 2.2rem;  
    color: var(--medium-dark); 
    
    cursor: pointer;

    transition: .3s;
}

.header-right .moon:hover{
    color: var(--primary-color);
}

.header-right :is(.menu-open, .menu-close ){
    font-size: 3.5rem;
    cursor: pointer;
}

.header-right .menu-open{   
    color: var(--dark-light);   
}
.header-right .menu-close{
   display: none;
}

header :is(.nav-btn-login, .btn-login){    
    padding: 1.65rem 5.85rem;
    border-radius: 4rem;
    background-color: var(--primary-color);

    font-weight: var(--medium);
    font-size: var(--p-font-size);   
    letter-spacing: 0.045em;
    color: var(--white);

    transition: .3s;
}

header .nav-btn-login:hover{
    background-color: var(--medium-dark);
    color: var(--dark-light);
}
header .nav-btn-login{
    margin-top: 5rem;
}

/*=============== MENU EXPENDED ======================*/
body.expended header{
    background: var(--dark-light);  
    box-shadow: 0 5px 3px hsla(240, 11%, 30%, 0.065);
}
body.expended header .logo-white{
    display: none;
}

body.expended header .logo-menu{
    display: block;
}

body.expended header .header-right .moon{
    display: none;
}

body.expended nav{  
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow: hidden;

    opacity: 1;
    visibility: visible;
    
    transform: translateY(0%);
}

body.expended nav ul{
    margin-top: 6rem;
    text-align: center;
    list-style: none;
}

body.expended nav ul li a{    
    padding: 1.5rem 6rem;
    font-weight: var(--light);
    font-size: 2rem;
    line-height: 75px;    
    color: var(--medium-light);

    transition: .2s;
}
body.expended nav ul li a:hover{
    background-color: var(--primary-color);
}

body.expended .header-right .menu-open{   
   display: none;  
}
body.expended .header-right .menu-close{
    display: block;
   color: var(--medium-dark);
}

/*=============== HERO ======================*/
section.hero :is(h1,h3){
    color: var(--white); 
    text-align: center;
    text-shadow: 0 0 5px var(--dark-light);
}

section.hero h3{
    width: 80%;
    padding-bottom: 6.3rem;
}

section .hero__background-image img{
    width: 100%;
    height: 100vh;
    
    object-fit: cover;
    overflow: hidden;
}
section .hero-content{
    position: absolute;
    top: 17rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

section form{
    display: flex;
    justify-content: center;

    width: 100%;       
}
section input[type=text]{
   width: clamp(2.34rem, 70%, 50.5rem);
   height: 4rem;   
   border: none;
   border-radius: 5px 0px 0px 5px;
   background-image: url(../assets/icon/bx-search.svg);
   background-position: 10px 10px; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
}

section input[type=text]:focus{
    outline: none;
}
section input[type=submit]{
    position: relative;
    left: -0.3rem;

    width: 9.7rem;
    height: 4rem; 
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--primary-color);

    color: var(--white);
    font-weight: var(--medium-regular);
    font-size: var(--p-font-size);

    cursor: pointer;  
    
    transition: .3s;
}

section input[type=submit]:hover{
    background-color:var(--dark-light);
}

/*=============== ABOUT ======================*/

section.about .btn__button{
    display: flex;
    justify-content: center;
}
section.about button.planoIdeal{
    width: clamp(26.6rem, 100%, 51rem);
    margin-block: var(--margin-tittle);
    padding: 1rem 1rem 1rem 6rem;   
    border-radius: 3rem;
    border: none;

    background-image: url(../assets/icon/bx-search02.svg);
    background-position: 20px center; 
    background-repeat: no-repeat;
    background-color: var(--primary-color);

    font-size: 1.3rem;
    font-weight: var(--bold);
    line-height: 1.6rem;
    letter-spacing: 0.050em;
    text-transform: uppercase;
    text-align: left;
    color: var(--white);

    cursor: pointer;  
    
    transition: .3s;
}

section.about button:hover{
    background-color: var(--dark-light);
}

section.about h2{
    padding-block: var(--margin-tittle);

    color: var(--dark-light);
    
}

section.about .line{
    display: flex;
    justify-content: center;

    margin-bottom: var(--margin-tittle);
}

section.about div p{
    padding-inline: 3rem;
    margin-bottom: var(--margin-tittle);
    color: var(--dark-light);
}
section.about button.btn-premium{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    width: 28.6rem;
    height: 4.2rem;
    border: 2px solid var(--primary-color);
    margin-bottom: 6rem;

    background-color: var(--white);


    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--medium);  
    font-size: var(--h4-font-size); 
    
    cursor: pointer;

    transition: .3s;
}

section.about button.btn-premium:hover{
    gap: 2rem;
    background-color: var(--primary-color);
    color: var(--white);
}

section.about button.btn-premium i{
    font-size: var(--h3-font-size);
}

/*=============== PICTURES ======================*/
section.pictures .photo{
    position: relative;

    width: 100%;
    height: 45rem;    
}

section.pictures .photo img{
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 30% 0;
}

section.pictures .photo:last-child img{
    object-position: 60% 0;
}

section.pictures .photo-content{
    position: absolute;
    top: 20rem;
    left: 10%;
    z-index: 10;  

    width: 26.4rem;      
}

section.pictures .photo-tittle{
    display: flex;
    gap: 1rem;
}

section.pictures .line-vertical{
    content: url(../assets/icon/line-blue-vertical.svg);
}

section.pictures :is(h3, p){
    color: var(--white);   
    text-shadow: 0 0 5px var(--dark-dark);
}
section.pictures h3{
    width: 21rem;
    
    line-height: 134.19%;
}
section.pictures p{   
    line-height: 167.19%;
    font-weight: 400;
}











