/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root{
 /*=============== VARIABLES CSS ===============*/
 /*============= colors ==============*/
 --white: hsl(0, 0%, 100%);
 --primary-color: hsl(196, 100%, 47%);
 --dark-dark: hsl(0, 0%, 0%);
 --dark-light: hsl(240, 11%, 30%);
 --medium-dark: hsl(226, 9%, 62%);
 --medium-light: hsl(0, 0%, 85%);
 --bg-light: hsl(218, 30%, 96%);
 
 /*========== Font and typography ==========*/
 --body-font: 'Roboto', sans-serif;
 --h1-font-size: 4.5rem;
 --h2-font-size: 2rem;
 --h3-font-size: 2.4rem;
 --h4-font-size: 1.6rem;
 --p-font-size: 1.4rem;

 /*========== margin and padding ==========*/
 --margin-tittle: 3rem;
 --padding-wrapper: 1.5rem;

 /*========== font-weight ==========*/
 --light: 300;
 --medium: 400;
 --medium-regular:500;
 --regular: 600;
 --bold: 700;
 
 font-size: 62.5%; /* 1rem = 10px */
}

/*organização do css = position, display, box, text*/
/*=============== GERAL ======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--p-font-size);    
    
    overflow-x: hidden;

    transition: .3s; /* For animation dark mode */
}

h1{   
    padding-bottom: 3.6rem;

    font-size: var(--h1-font-size);    
    font-weight: var(--regular);
    line-height: 5.3rem;
    
}
h2{
    font-size: var(--h2-font-size);
    font-weight: var(--medium);
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
}
h3{    
    font-size: var(--h3-font-size);
    font-weight: var(--medium-regular);    
    line-height: 2.8rem;
}

p{
    font-size: var(--p-font-size);
    font-weight: var(--light);
    line-height: 186.5%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.wrapper{   
    padding-inline: var(--padding-wrapper);   
}

.grid{
    display: grid;
}

.line{
    display: flex;
    justify-content: center; 

    margin-block: var(--margin-tittle);
}

/*============== DARK THEME =============================*/
body.dark-theme #about p,
body.dark-theme #about h2,
body.dark-theme #tudoQueVocePrecisa h2,
body.dark-theme #categorias{
    color: var(--medium-light);
}

body.dark-theme > header{
    background-color: var(--dark-light);
}

body.dark-theme header .logo-white{
    display: none;
}

body.dark-theme header .logo-black{
    display: block;
}

body.dark-theme .header-right .menu-open{   
    color: var(--medium-dark);   
}

body.dark-theme #hero input[type=text]{
    background-color: var(--dark-light);
}

body.dark-theme #hero input[type=submit]:hover,
body.dark-theme #atualizacoes input[type=submit]:hover{
    background-color:var(--medium-dark);
    color: var(--dark-light);
}

body.dark-theme #about button.btn-premium,
body.dark-theme #about,
body.dark-theme #tudoQueVocePrecisa,
body.dark-theme #planosAcessiveis,
body.dark-theme #planosAcessiveis .personal,
body.dark-theme #planosAcessiveis .enterprise,
body.dark-theme #planosAcessiveis .personal button,
body.dark-theme #planosAcessiveis .enterprise button,
body.dark-theme #atualizacoes{
    background-color: var(--dark-light);
}

body.dark-theme #categorias,
body.dark-theme #colaboradores{
    background-color:hsla(226, 12%, 44%, 1);    
}

body.dark-theme #categorias ul > li a,
body.dark-theme #planosAcessiveis .personal li.inactive,
body.dark-theme #tudoQueVocePrecisa .options-text h4,
body.dark-theme #tudoQueVocePrecisa .options-text p{
    color: var(--medium-dark);
}

body.dark-theme #planosAcessiveis .personal h5,
body.dark-theme #planosAcessiveis .enterprise h5,
body.dark-theme #planosAcessiveis h2,
body.dark-theme #planosAcessiveis .personal li,
body.dark-theme #planosAcessiveis .enterprise li,
body.dark-theme #colaboradores h2,
body.dark-theme #colaboradores h3{
    color: var(--medium-light);
}

body.dark-theme #planosAcessiveis .personal button:hover,
body.dark-theme #planosAcessiveis .enterprise button:hover,
body.dark-theme #about button.btn-premium:hover{
    background-color: var(--primary-color);
}

body.dark-theme #colaboradores .swiper-button-prev,
body.dark-theme #colaboradores .swiper-button-next{
    background-color:hsla(226, 12%, 44%, 1);
    border-color: var(--medium-dark);
}
body.dark-theme #colaboradores .swiper-button-prev:hover,
body.dark-theme #colaboradores .swiper-button-next:hover{
    background-color: var(--medium-light);
}

body.dark-theme footer{
    background-color: var(--dark-dark);
}


/*=============== HEADER ======================*/
body > header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    background: var(--white);  
    box-shadow: 0 5px 3px hsla(240, 11%, 30%, 0.065);

    transition: .3s; /* For animation dark mode */
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 7.3rem;         
}

header :is( .logo-white, .logo-black, .logo-menu ){
    width: 14.4rem;
}

header .logo-white{
    display: block;
}
header .logo-black{
    display: none;
}
header .logo-menu{
    display: none;
}

header nav{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 7.2rem;
    left: 0;
    z-index: 150;  

    width: 100%;
    height: 100vh;   
    background-color: var(--dark-light);


    transform: translateY(100%);
    transition: transform .3s;
   
}
header .btn-login{
    display: none;
}

header .header-right{
   display: flex;
   align-items: center;
}

.header-right .btn-theme{   
    margin-right: 4.5rem;

    font-size: 2.2rem;  
    color: var(--medium-dark); 
    
    cursor: pointer;

    transition: .3s;
}

.header-right .btn-theme:hover{
    color: var(--primary-color);
}

.header-right :is(.menu-open, .menu-close ){
    font-size: 3.5rem;
    cursor: pointer;
}

.header-right .menu-open{   
    color: var(--dark-light);   
}
.header-right .menu-close{
   display: none;
}

header :is(.nav-btn-login, .btn-login){    
    padding: 1.65rem 5.85rem;
    border-radius: 4rem;
    background-color: var(--primary-color);

    font-weight: var(--medium);
    font-size: var(--p-font-size);   
    letter-spacing: 0.045em;
    color: var(--white);

    transition: .3s;
}

header .nav-btn-login:hover{
    background-color: var(--medium-dark);
    color: var(--dark-light);
}
header .nav-btn-login{
    margin-top: 5rem;
}

/*=============== MENU EXPENDED ======================*/
body.expended > header{
    background: var(--dark-light);  
    box-shadow: 0 5px 3px hsla(240, 11%, 30%, 0.065);
}
body.expended header .logo-black,
body.expended header .logo-white{
    display: none;
}

body.expended header .logo-menu{
    display: block;
}

body.expended header .header-right .moon{
    display: none;
}

body.expended nav{  
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow: hidden;

    opacity: 1;
    visibility: visible;
    
    transform: translateY(0%);
}

body.expended nav ul{
    margin-top: 6rem;
    text-align: center;
    list-style: none;
}

body.expended nav ul li a{    
    padding: 1.5rem 6rem;
    font-weight: var(--light);
    font-size: 2rem;
    line-height: 75px;    
    color: var(--medium-light);

    transition: .2s;
}

body.expended nav ul li a:hover{
    background-color: var(--primary-color);
}

body.expended .header-right .menu-open{   
   display: none;  
}

body.expended .header-right .menu-close{
    display: block;
   color: var(--medium-dark);
}

/*=============== HERO ======================*/
#hero{
    height: 100vh;
}
#hero :is(h1,h3){
    color: var(--white); 
    text-align: center;
    text-shadow: 0 0 5px var(--dark-light);
}

#hero h3{
    width: 80%;
    padding-bottom: 6.3rem;
}

#hero .hero-background-image img{
    width: 100%;
    height: 100vh;
    
    object-fit: cover;
    overflow: hidden;
}
#hero .hero-content{
    position: absolute;
    top: 17rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#hero form{
    display: flex;
    justify-content: center;

    width: 100%;           
}
#hero input[type=text]{
   width: clamp(2.34rem, 70%, 50.5rem);
   height: 4rem;   
   border: none;
   border-radius: 5px 0px 0px 5px;
   background-image: url(../assets/icon/bx-search.svg);
   background-position: 10px 10px; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;

   transition: .3s; /* For animation dark mode */
}

#hero input[type=text]:focus{
    outline: none;
}
#hero input[type=submit]{
    position: relative;
    left: -0.3rem;

    width: 9.7rem;
    height: 4rem; 
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--primary-color);

    color: var(--white);
    font-weight: var(--medium-regular);
    font-size: var(--p-font-size);

    cursor: pointer;  
    
    transition: .3s;
}

#hero input[type=submit]:hover{
    background-color:var(--dark-light);
}

/*=============== ABOUT ======================*/
#about{
    background-color: var(--white);
    transition: .3s;
}

#about .btn__button{
    display: flex;
    justify-content: center;
}

#about button.planoIdeal{
    width: min(100%, 50.1rem);
    margin-block: var(--margin-tittle);
    padding: 1rem 2rem 1rem 6rem;   
    border-radius: 3rem;
    border: none;

    background-image: url(../assets/icon/bx-search02.svg);
    background-position: 20px center; 
    background-repeat: no-repeat;
    background-color: var(--primary-color);

    font-size: 1.3rem;
    font-weight: var(--bold);
    line-height: 1.6rem;
    letter-spacing: 0.050em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);

    cursor: pointer;  
    
    transition: .3s;
}

#about button:hover{
    background-color: var(--dark-light);
}

#about h2{
    max-width: 40rem;
    margin-inline: auto;
    padding-top: var(--margin-tittle);

    color: var(--dark-light);
    
}

#about div p{    
    padding-inline: 3rem;
    margin-bottom: var(--margin-tittle);
    color: var(--dark-light);
}

#about button.btn-premium{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;

    width: 28.6rem;
    height: 4.2rem;
    border: 2px solid var(--primary-color);
    margin-bottom: 6rem;

    background-color: var(--white);


    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: var(--medium);  
    font-size: var(--h4-font-size); 
    
    cursor: pointer;

    transition: .3s;
}

#about button.btn-premium:hover{
    gap: 2rem;
    background-color: var(--primary-color);
    color: var(--white);
}

#about button.btn-premium i{
    font-size: var(--h3-font-size);
}

/*=============== PICTURES ======================*/
#pictures .photo{
    position: relative;

    width: 100%;
    height: 90vh;    
}

#pictures .photo img{
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 30% 0;
}

#pictures .photo:last-child img{
    object-position: 60% 0;
}

#pictures .photo-content{
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 10;  

    width: min(26.4rem, 90%);      
}

#pictures .photo-tittle{
    display: flex;
    gap: 1rem;
}

#pictures .line-vertical{
    content: url(../assets/icon/line-blue-vertical.svg);
}

#pictures :is(h3, p){
    color: var(--white);   
    text-shadow: 0 0 5px var(--dark-dark);
}

#pictures h3{
    width: 21rem;

    line-height: 134.19%;
}

#pictures p{   
    line-height: 167.19%;
    font-weight: 400;
}

/*=============== TUDO QUE VC PRECISA ======================*/
#tudoQueVocePrecisa{
    background-color: var(--white);
    transition: .3s;
}

#tudoQueVocePrecisa header{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5rem;
}

#tudoQueVocePrecisa h2{
    width: 70%;
    padding-top: var(--margin-tittle);

    color: var(--dark-light);
}

#tudoQueVocePrecisa .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tudoQueVocePrecisa .options{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: min(34.4rem, 100%);
}

#tudoQueVocePrecisa .options img{
    width: min(34.4rem, 100%);
    height: 36.4rem;
    margin-top: 2rem;

    object-fit: cover;
    object-position: 0 center; 
}

#tudoQueVocePrecisa .options-text{
   
    margin-bottom: 5rem;
}

#tudoQueVocePrecisa .options-text h4{
    font-size: var(--h4-font-size);
    font-weight: var( --medium-regular);

    margin: 2rem 0 1rem;
}

/*=============== CATEGORIAS ======================*/
#categorias{   
   justify-content: center;
      
   width: 100%;  
   background-color: var(--bg-light);  

   transition: .3s;
}

#categorias h2{
   padding-top: var(--margin-tittle);
}

#categorias ul{
    margin-bottom: 5rem;
}

#categorias ul > li{
    text-align: center;

    transition: .3s;
}

#categorias ul > li:hover{
    background-color: var(--medium-light);
}

#categorias ul > li a{
    font-size: var(--h4-font-size);
    font-weight: var(--light);
    line-height: 200%;   
    text-transform: capitalize;
    color: var(--dark-light);    
}

/*=============== BANNER-SLIDER ======================*/
#banner-slider .banner-slider-container{
    width: 100%;   
}
#banner-slider .banner-slider-image{
    position: relative;

    width: 100%;
    height: 90vh;
    overflow: hidden;
}

#banner-slider .banner-slider-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;     
}
#banner-slider .swiper-slide:nth-child(2) img{
    object-position: 30%;
}
#banner-slider .swiper-slide:nth-child(3) img{
    object-position: 70%;
}
#banner-slider .swiper-slide:nth-child(4) img{
    object-position: 35%;
}
#banner-slider .swiper-slide:nth-child(5) img{
    object-position: 55%;
}

#banner-slider .banner-slider-content{
    position: absolute;
    top: 40%;
    z-index: 10;

    display: flex;
    flex-direction: column;   
    align-items: center;
       
    width: 100%;      
}

#banner-slider .banner-slider-content span{
    padding-bottom: 5.2rem;

    font-size: 3.2rem;
    font-weight: var(--bold);    
    line-height: 150%;  
    text-align: center;
    color: var(--white);   
    text-shadow: 0 0 5px var(--dark-dark);
}

#banner-slider .btn-saiba-mais i{
    font-size: 2rem;
}

#banner-slider .banner-slider-content button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    
    width: 15.6rem;
    height: 4.2rem;
    border-radius: 5px;
    border: none;

    background-color: var(--primary-color);

    color: var(--white);
    font-weight: var(--medium);
    font-size: var(--h4-font-size);

    cursor: pointer;

    transition: .3s;
}

#banner-slider .banner-slider-content button:hover{
    gap: 2rem;
}

/*swiper button css*/
.nav-btn::after,
.nav-btn::before{    
    font-size: 2rem; 
    font-weight: var(--bold);
    color: var(--dark-light); 
    opacity: 0; 
}

#banner-slider .swiper-pagination-bullet{
    background-color: var(--dark-light);
    opacity: 1;
    width: 12px;
    height: 12px;
}
#banner-slider .swiper-pagination-bullet-active{
    background-color: var(--medium-dark);
    width: 12px;
    height: 12px;
}

/*=============== DEPOIMENTO ==========================*/
#depoimentos .depoimentos-slider-container{
    position: relative;

    width: 100%;
    height: 60rem;

    background-color: var(--primary-color);
}

#depoimentos header h2 {
    padding-top: 6.7rem;

    color: var(--white);
}

#depoimentos header .line path[stroke*="#00AFEF"]{
    stroke: var(--white);
}

#depoimentos .mask-image img{
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
}

#depoimentos :is(.aspas-left, .aspas-right){
    position: absolute;

    opacity: 0.3;
}

#depoimentos .aspas-left{   
    top: 0;
    left: 0;
}
#depoimentos .aspas-right{    
    bottom: 0;
    right: 0;
}

#depoimentos .depoimentos-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#depoimentos .depoimentos-content :is(p, span){
    width:80%;
    margin-block: 2.1rem;

    font-style: italic;
    font-weight: var(--medium);
    font-size: var(--h4-font-size);
    line-height: 180%;
    text-align: center;
    text-transform: capitalize;    
    color: var(--white);
}

#depoimentos .depoimentos-content h4{   
    font-style: italic;
    font-weight: var(--bold);
    font-size: var(--h4-font-size);
    text-align: center;
    text-transform: capitalize; 
    color: var(--white);    
}

#depoimentos .swiper-pagination-bullet{
    background-color: var(--white);
    opacity: 0.7;
    width: 12px;
    height: 12px;
}
#depoimentos .swiper-pagination-bullet-active{
    background-color: var(--dark-light);
    width: 12px;
    height: 12px;
}

/*=============== DESCONTO ==========================*/
#desconto .desconto-slide-content{
    position: relative;
    width: 100%;
    height: 90vh;
}

#desconto .swiper-slide img{
    width: 100%;
    height: 90vh;
    object-fit: cover;    
}

#desconto .swiper-slide:nth-child(2) img{
    object-position: 40%;
}
#desconto .swiper-slide:nth-child(3) img{
    object-position: 70%;
}
#desconto .swiper-slide:nth-child(4) img{
    object-position: 50%;
}
#desconto .swiper-slide:nth-child(5) img{
    object-position: 25%;
}

#desconto .desconto-gradiente{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70%;
    background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0),
              hsla(0, 0%, 0%, 0.895),
              hsl(0, 0%, 0%));
}

#desconto .swiper-slide .desconto-content{
    position: absolute;
    bottom: 20%;
    left: 10%;
    right: 10%;
    z-index: 10;
}

#desconto .swiper-slide .desconto-content h5{
    padding-bottom: 1rem;
    
    font-size: 3.4rem;
    font-weight: var(--regular);     
    text-align: left;
    text-transform: capitalize;
    color: var(--white);
}

#desconto .swiper-slide .desconto-content span{    
    padding-right: 1rem;

    font-weight: var(--light);
    font-size: var(--h4-font-size);
    text-align: left;
    text-transform: capitalize; 
    color: var(--medium-dark);
}

#desconto .swiper-slide .desconto-content p{    
    padding-bottom: 0.5rem;
    font-weight: var(--medium-regular);
    font-size: var(--h4-font-size);
    text-align: left;
    text-transform: capitalize;
    color: var(--white);
}

#desconto .swiper-slide .desconto-content button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 22.7rem;
    height: 4.4rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: var(--primary-color);

    font-size: var(--h4-font-size);
    font-weight: var(--medium);
    color: var(--white);

    cursor: pointer;
    transition: .3s;
}

#desconto .swiper-slide .desconto-content button:hover{
    gap: 3rem;
}

#desconto .swiper-slide .desconto-content i{
    font-size: 2rem;
}

#desconto .swiper-pagination-bullet{
    background-color: var(--medium-dark);
    opacity: 0.7;
    width: 12px;
    height: 12px;
}
#desconto .swiper-pagination-bullet-active{
    background-color: var(--primary-color);
    width: 12px;
    height: 12px;
}

/*=============== PLANOS ACESSÍVEIS  ==========================*/
#planosAcessiveis{
    transition: .3s;
}
#planosAcessiveis header{    
    width: 70%;
    padding: 5rem 0 2rem;

    margin-inline: auto;
}

#planosAcessiveis .personal,
#planosAcessiveis .business,
#planosAcessiveis .enterprise{
    padding-inline: 4rem;
}

#planosAcessiveis .business{
    background-color: var(--bg-light);
}

#planosAcessiveis h5{
    padding-block: 3rem;

    font-size: 2rem;
    font-weight: var(--medium);
    color: var(--dark-dark);   
}

#planosAcessiveis span.valor{
    font-size: 4rem;
    font-weight: var(--bold);
    color: var(--primary-color);
}

#planosAcessiveis span.valor > span{
    font-size: 1.6rem;
    font-weight: var(--medium);
    color: var(--medium-dark);
}

#planosAcessiveis .line-division{
    width: 100%;
    height: 0.15rem;
    background-color: var(--medium-light);
    margin-block: 2rem;
}

#planosAcessiveis ul{
    padding-top: 1.5rem;
}

#planosAcessiveis li{
    padding-bottom: 3.5rem;

    font-size: var(--p-font-size);
    font-weight: var(--light);
    color: var(--dark-light);
}

#planosAcessiveis i{
    color: var(--primary-color);
    padding-right: 0.6rem;
    
}

#planosAcessiveis :is(i.inactive, li.inactive) {
    color: var(--medium-dark);
}

#planosAcessiveis button{
    width: 15.5rem;
    height: 4.2rem;
    background-color: var(--white);
    border: 2px solid var(--primary-color);    
    margin-bottom: 6rem;

    color: var(--primary-color);
    font-weight: var(--medium-regular);
    text-transform: uppercase;

    cursor: pointer;

    transition: .3s;
}

#planosAcessiveis button:hover{
   background-color: var(--primary-color);
   color: var(--white);
}

#planosAcessiveis .business button{
    background-color: var(--primary-color);
    color: var(--white);
}

#planosAcessiveis .business button:hover{
    background-color: var(--white);
    color: var(--primary-color);
}

/*=============== COLABORADORES ==========================*/
#colaboradores{   
    transition: .3s;
}
#colaboradores .colaboradores-slider{
    width: 100%;
    height: 82rem;
}

#colaboradores header{
    padding-bottom: 2rem;
}

#colaboradores header h2{
    padding-top: var(--margin-tittle);
}

#colaboradores .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#colaboradores h3{
    padding: 2rem 0 1rem;

    font-weight: var(--medium-regular);
    font-size: 2.6rem;
    color: var(--dark-light);
}

#colaboradores span{
    padding-bottom: 1rem;

    font-weight: var(--medium);
    font-size: var(--p-font-size);
    color: var(--medium-dark);
}

#colaboradores .rede-social-icon{
    display: flex;
    gap: 1rem;
}

#colaboradores .rede-social-icon i{
    font-size: 2rem;
    color: var(--medium-dark);

    cursor: pointer;

    transition: .3s;
}

#colaboradores .rede-social-icon i:hover{
    color: var(--primary-color);
}

#colaboradores .col-btn::after,
#colaboradores .col-btn::before{    
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--medium-dark);     
}

#colaboradores .swiper-button-prev,
#colaboradores .swiper-button-next{
  top: initial;
  bottom: 5.7rem;

  width: 30px;
  height: 30px;
  border: 2px solid var(--medium-light);
  border-radius: .5rem;
  background-color: var(--white);
  padding: 6px;  

  transition: .3s;
}

#colaboradores .swiper-button-prev:hover,
#colaboradores .swiper-button-next:hover{
    background-color: var(--dark-light);
}
    
#colaboradores .swiper-button-prev{
    left: calc(50% - 4rem);
}
  
#colaboradores .swiper-button-next{
    right: calc(50% - 4rem);
}

#colaboradores .swiper-pagination{
    bottom: 17px;
}

#colaboradores .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: var(--medium-dark);
    opacity: 0.7;
}

#colaboradores .swiper-pagination-bullet-active{
    width: 12px;
    height: 12px;
    background-color: var(--dark-dark);
}

/*=============== GRATIS PREMIUM ==========================*/
#gratisPremium .gratis-premium-content{
    position: relative;

    width: 100%;
    height: 100vh;
}

#gratisPremium .gratis-premium-content img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

#gratisPremium .content-wrapper{
    position: absolute;
    top: 10rem; 
    
    padding-left: 2.5rem;
}

#gratisPremium .content-wrapper h2{
    max-width: 40rem;

    font-weight: var(--bold);
    font-size: 3rem;
    line-height: 170%;
    color: var(--dark-light);
    text-align: left;    
}

#gratisPremium .content-wrapper button{
    display: block;

    width: 14rem;
    height: 4rem;

    font-weight: var(--medium);
    font-size: var(--p-font-size);
    text-transform: uppercase;

    cursor: pointer;
}

#gratisPremium .content-wrapper .btn-gratis{
    margin-block: 4rem;
    border: 2px solid var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);

    transition: .3s;
}

#gratisPremium .content-wrapper .btn-premium{
    background-color: var(--primary-color);;
    color: var(--white);
    border: none;

    transition: .3s;
}

#gratisPremium .content-wrapper .btn-gratis:hover{
    background-color: var(--primary-color);;
    color: var(--white);
}

#gratisPremium .content-wrapper .btn-premium:hover{   
    background-color: var(--dark-light);
    color: var(--white);
}

/*=============== ATUALIZAÇÕES ==========================*/
#atualizacoes{
    background-color: var(--bg-light);

    transition: .3s;
}

#atualizacoes .atualizacao-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#atualizacoes h2{
    max-width: 30rem;
    padding: 7.7rem 0 2.1rem;

    font-weight: var(--medium-regular);
    font-size: var(--h2-font-size);
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: var(--medium-dark);
}

#atualizacoes p{
    width: 80%;
    margin-bottom: 4.5rem;
    font-weight: var(--light);
    font-size: var(--p-font-size);
    line-height: 170%;
    text-align: center;
    color: var(--medium-dark);
}

#atualizacoes input[type=text],
#atualizacoes input[type=email],
#atualizacoes input[type=submit]{
    width: 100%;
    height: 4rem;
}

#atualizacoes input[type=text],
#atualizacoes input[type=email]{
    border: none;
    padding-left: 2rem;
    margin-bottom: 2.3rem;
    border-radius: .5rem;
}

#atualizacoes input[type=submit]{
    margin-bottom: 9.3rem;
    background-color: var(--primary-color);
    border: none;

    font-size: var(--h4-font-size);
    color: var(--white);
    text-transform: uppercase;

    cursor: pointer;

    transition: .3s;
}

#atualizacoes input[type=submit]:hover{
    background-color: var(--dark-light);
}

#atualizacoes input[type=text]:focus,
#atualizacoes input[type=email]:focus{
    outline: 2px solid var(--primary-color);
}

/*=============== FOOTER ==========================*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 5rem 0;
    background-color: var(--dark-light);

    transition: .3s;
}

footer .social-media{
    display: flex;
    gap: 1rem;
}

footer .social-media i{
    font-size: 4rem;
    color: var(--medium-dark);

    transition: .3s;
}

footer .social-media i:hover{
    color:hsla(227, 9%, 62%, 0.341);
}

footer :is(p, cite){
    font-size: 1.2rem;
    color: var(--medium-dark);
}

footer cite{
    font-weight: var(--regular);
    font-style: normal;
}

footer .footer-author{
    display: flex;
    align-items: center;
    gap: .5rem;

    padding-top: 2rem;
}

/*=============== SCROLL UP =================*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    z-index: 10;

    display: inline-flex;

    background-color: var(--primary-color);
    box-shadow: 0 8px 12px hsla(228, 66%, 45%, .1);  
    padding: .8rem;
    border-radius: 50%;

    color: var(--white);
    font-size: 2rem;

    transition: .3s;    
}

.scrollup:hover{
    transform: translateY(-.25rem);
    background-color: var(--dark-light);
  }

  /* Show Scroll Up*/
.show-scroll{
    bottom: 5rem;
  }

/*=============== BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width: 350px){
    .header-right .btn-theme{
        margin-right: 2.5rem;
    }

    #colaboradores .swiper-slide{        
        align-items: initial;    
    }
    #colaboradores .swiper-slide h3,
    #colaboradores .swiper-slide span,
    #colaboradores .swiper-slide div{
        margin: 0 auto;
    }
}
@media screen and (max-width: 335px){
    #colaboradores .colaboradores-slider{
        height: 120vh;
    }
}
@media screen and (max-width: 320px){        
    #about button.planoIdeal{
            font-size: 1.1rem;
    }

    #depoimentos .depoimentos-content :is(p, span){
            font-size: var(--p-font-size);
    }

    #planosAcessiveis li{
            font-size: 1.3rem;
    }

    #colaboradores .colaboradores-slider{
            height: 115vh;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    #categorias .grid{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;       
        column-gap: 20%;

        padding-top: 3rem;
    }

    #categorias ul > li{
        text-align: left;
    }

    #gratisPremium .gratis-premium-btn-content{
        display: flex;
        gap: 2rem;

        padding-top: 3rem;
    }

    #gratisPremium .content-wrapper .btn-gratis{
        margin-block: initial;  
    }
    
    #gratisPremium .content-wrapper .btn-premium{
        background-color: var(--primary-color);;
        color: var(--white);
        border: none;
    
        transition: .3s;
    }
}
@media screen and (min-width: 700px){
    #about .about-paragraph{
        grid-template-columns: repeat(2, 32rem);
        justify-content: center;
    }

    #depoimentos .depoimentos-content p{
        width: 32rem;
    }

    #planosAcessiveis .planos-content{
        grid-template-columns: repeat(3, 1fr);
    }

    #atualizacoes p{
        width: 45rem;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;

    }
    footer .social-media{
        order: 1;
    }
}

/* For large devices */
@media screen and (min-width: 1023px){

}